.login {
    max-width: 1170px;
    margin: 0 auto;

    
    @media (max-width: 1440px) {
        margin: 0 135px;
     }

     @media (max-width: 1199px ) {
        margin: 0 85px;
     }

     @media (max-width: 991px) {
        margin: 0 45px;
     }

     @media (max-width: 767px) {
        margin: 0 15px;

     }
}

.login__container {
    margin: 0 auto;
    max-width: 600px;
    padding: 72px 114px 72px 114px;

    @media (max-width: 991px) {
        padding: 35px 0;
    }
}

.login__title {
    text-align: center;
    font-family: Ovo;
    font-size: 24px;
    font-weight: 400;
}

.login__description {
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    color: #5E5E5E;
}

.login__inputs {
    margin-top: 41px;
    font-family: Mulish;
    font-size: 15px;
    font-weight: 400;

}

.form-group {
    position: relative;

        svg {
            position: absolute;
            right: 15px;
            bottom: 15px;
            cursor: pointer;
        }
 }

.form-group__input {
    display: block;
    height: 46px;
    width: 100%;
    background: #F7F7F7;
    color: #B5B5B5;
    border-style: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    padding: 0 14px;
    margin: 12px 0;
}

.login__forgot-password {
    text-align: right;
    font-family: Mulish;
    font-size: 12px;
    font-weight: 400;

    a {
    color: #5E5E5E;
    text-decoration: none;
    }
}

.login__button {
    text-align: center;
    width: 100%;
    height: 46px;
    margin: 27px 0px 0px 0px;
     
    .button {
        width: 100%;
        height: 100%;
        background: #000;
        border: #000;
        color: #fff;
    }
}

.login__create-account {
    margin-top: 23px;
    width: 100%;
    height: 64px;
    text-align: center;

    a {
        font-family: Mulish;
        font-size: 15px;
        color: #000;
        line-height: 64px;
        text-decoration: none;

            span svg {
                margin-left: 5px;
                transform: rotate(-90deg);
            }
    }
}

.cancel-button {
    font-family: Mulish;
    font-size: 15px;
    color: #000;
    text-decoration: none;

        &:hover {
            color: #000;
        }
}

.login__alert {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}