/* ==========================================================================
  MAIN PAGE
========================================================================== */


.page__title {
    font-family: Ovo;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}