<!-- Container -->
<div class="main-container">
  <!-- Title -->
  <h1 class="page__title">{{ page.title }}</h1>
  <!-- End title -->
  <!-- Content -->
  <div class="page__content">{{ page.content }}</div>
  <!-- End content -->
</div>
<!-- End container -->
