<!-- Login -->
<div class="login">
  <!-- Container -->
  <div class="login__container">
    <!-- Login heading -->
    <h1 class="login__title">Reset account password</h1>
    <p class="login__description">Enter a new password</p>
    <!-- End login heading -->
    <!-- Login form -->
    {% form 'reset_customer_password' %}
      <!-- Error -->
      {%- if form.errors -%}
        <div class="alert login__alert alert-danger">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
      <!-- End error -->
      <!-- Login inputs -->
      <div class="login__inputs">
        <!-- Form group -->
        <div class="form-group required {% if form.errors contains 'password' %} has-error {% endif %}">
          <label for="password" class="form-group__label"> Password </label>
          <input
            type="password"
            class="form-group__input"
            id="password"
            name="customer[password]"
            required="required"
          >
          {% render 'eye-icon' %}
        </div>
        <!-- End form group -->
        <!-- Form group -->
        <div class="form-group required {% if form.errors contains 'customer[password_confirmation]' %} has-error {% endif %}">
          <label for="passwordConfirmation" class="form-group__label"> Confirm Password </label>
          <input
            type="password"
            class="form-group__input"
            id="passwordConfirmation"
            name="customer[password_confirmation]"
            required="required"
          >
          {% render 'eye-icon' %}
        </div>
        <!-- End form group -->
      </div>
      <!-- End login inputs -->
      <!-- Actions -->
      <div class="login__action">
        <div class="login__button">
          <input type="submit" class="button" value="Reset password">
        </div>
      </div>
      <!-- End actions -->
    {% endform %}
    <!-- End login form -->
  </div>
  <!-- End container -->
</div>
<!-- End login -->
