<!-- Container -->
<div class="main-container">
  <!-- Title -->
  <h4 class="account__heading">My Favorites</h4>
  <!-- End title -->
  <!-- Wishlist -->
  <div class="wishlist">
    <!-- Items -->
    <div class="wrap-wishlist">
      <!-- Products row -->
      <div class="row products-row js-wishlist-body">
        <!-- Loading spin -->
        <div class="loading-spin text-center">
          <div class="loader"></div>
        </div>
        <!-- End loading spin -->
      </div>
      <!-- End Products row -->
    </div>
    <!-- End items -->
    <div class="empty-wishlist"><a href="/collections/all">Take Me Shopping</a></div>
  </div>
  <!-- End wishlist -->
</div>
<!-- End container -->
