<div class="not-found-page main-container">
  <h1 class="not-found-page__title">404</h1>
  <p class="not-found-page__description">Not found</p>
  <a class="not-found-page__link" href="{{ routes.all_products_collection_url }}" class="button">
    {% render 'down-icon' %} Continue Shopping
  </a>
</div>
